.input__container{
    position: relative;
}

.input__search{
    background-color: transparent;
    border: 1.54px #FFFCFCFC solid;
    border-radius: 8px;
    height: 42.44px ;
    padding-left: 40px;
    padding-right: 20px;
    color: #FCFCFC;
    text-align: right;
}

.input__search::placeholder{ 
    color: #FCFCFC;
}

.input__img{
    position: absolute;
    width: 25px;
    left: 10px;
    top: 50%; /* Adjust this based on the container's height */
    transform: translateY(-50%); /* Center vertically */
}
